* {
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    max-width: 1200px;
    margin: auto;
    padding: 0;
    
}

header {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: #ccc;
    
}





fieldset {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    
}

.cuadro-1 {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,42,1) 4%, rgba(0,212,255,1) 83%);
}

.cuadro-2 {
    height: 850px;
}

.espacio {
    display: flex;
    align-items: center;
    gap: 100px;
}

.espacio-2 {
    display: flex;
    align-items: center;
    gap: 121px;
}

.espacio-3 {
    display: flex;
    align-items: center;
    gap: 96px;
}

.espacio-4 {
    display: flex;
    align-items: center;
    gap: 87px;
}

.espacio-5 {
    display: flex;
    align-items: center;
    gap: 77px;
}

.espacio-6 {
    display: flex;
    align-items: center;
    gap: 85px;
}

button {
    background: black;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    margin: 14px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    border-radius: 12px;
   
}

button:hover {
    color: blue;

}
